<div ng-controller="TransacLimitCtrl as tlCtrl">
    <div class="row">
        <div class="col-sm-5 form-box enter-alignment">
            <div class="form-top">
                <div class="form-top-left">
                     <h3>تعیین سقف معادلات</h3>
                </div>
                <div class="form-top-right">
                    <i class="fa fa-usd"></i>
                </div>
            </div>
            <div class="form-bottom">
                <form role="form" class="registration-form" action="">
                    <div class="form-group">
                        <label class="sr-only">میزان سقف</label>
                        <input ng-model="amount" type="text" placeholder="میزان سقف ..." class="form-control">
                    </div>
                    <button type="submit" class="btn" ng-click="tlCtrl.setLimit(amount)">اضافه کردن سهام</button>
                </form>
            </div>
        </div>
    </div>
</div>